*{
    /*   border: solid 1px; */
      vertical-align:top;
      font-family:Arial;
      text-align: center;
      position:relative;
      letter-spacing: 7px;
      background-color:#2b2a32;
    }
    html,body{
      margin:0px;
      padding:0px;
      /* background-color:; */
    }
    .title {
      height:130px;
      margin-left:auto;
      margin-right:auto;
      background-color:#d3dbe0;
    }
    .title h2{
      display:inline-block;
      margin-top:30px;
      border-bottom:solid 2px black;
      font-size: 30px;
      background-color:#d3dbe0;
    }
    .title h5{
      display:block;
      margin-top:0px;
      font-size:12px;
      background-color:#d3dbe0;
    }
    .bottom{
      height:700px;
      width: 700px;
      margin-left:auto;
      margin-right:auto;
    }
    .left, .right{
      display: inline-block;
      /* weight:50%; */
      height:100px;
      box-sizing: border-box;
    }
    .left{
      height:100%;
      width:50%;
      margin-left:0px;
    }
    .right{
      height:100%;
      width:50%;
      margin-left:0px;
    }
    
    .rtop,.rmiddium, .rbottom{
      height:40%;
      box-sizing: border-box;
    }
    .rmiddium{
      height:30%;
    }
    .rbottom{
      height:30%;
    }
    .photo, .about, .contact{
      box-sizing: border-box;
    }
    .photo img{
      height:200px;
      border-radius:50%;
      margin: 30px;
    }
    .about{
      height: 250px;
    }
    .about h2{
      display:inline-block;
      margin:20px;
      height:30px;
      font-size:24px;
      letter-spacing: 2px;
      border-bottom: solid 2px white;
      color: white;
    }
    .about p{
      font-size:14px;
      letter-spacing: 2px;
      margin-bottom:20px;
      color: white;
      text-align:left;
      padding-left:50px;
    }
    .contact h2{
      display:inline-block;
      margin:20px;
      margin-top: 0px;
      height:30px;
      font-size:24px;
      letter-spacing: 2px;
      border-bottom: solid 2px white;
      color: white;
    }
    .contact li{
      font-size:14px;
      text-align:left;
      padding-left: 80px;
      letter-spacing: 2px;
      margin-bottom:20px;
      color: white;
    }
    .h2{
      display:inline-block;
      margin:20px;
      margin-bottom:-10px;
      height:30px;
      font-size:24px;
      font-weight:bold;
      letter-spacing: 2px;
      border-bottom: solid 2px white;
      color: white;
    }
    .h2-end{
        display:inline-block;
        margin:40px;
        margin-bottom:-10px;
        height:30px;
        font-size:24px;
        font-weight:bold;
        letter-spacing: 2px;
        border-bottom: solid 2px white;
        color: white;
      }
    .h5{
      display:block;
      color:white;
      margin-top:25px;
      padding:5px;
      padding-left: 20px;
      text-align:left;
      letter-spacing:1px;
    }
    .rtop .h2{
        margin-bottom: 10px;
        
    }
    .chart1{
      background-color:white;
      width:300px;
      height:20px;
      margin-left:auto;
      margin-right:auto;
      margin-top:5px;
      border: solid 1px #D0D0D0;
      padding: 5px;
    }
    .chart11{
      width:40%;
      height:20px;
      margin-top:auto;
      margin-bottom:auto;
      background-color:#bebfb2;
    }
    .chart12{
      position:absolute;
      font-size: 12px;
      letter-spacing:3px;
      color:white;
      right: 20px;
      top:160px;
    }
    .chart2{
      background-color:white;
      width:300px;
      height:20px;
      margin-left:auto;
      margin-right:auto;
      border: solid 1px #D0D0D0;
      padding: 5px;
      margin-top:5px;
    }
    .chart21{
      width:50%;
      height:20px;
      margin-top:auto;
      margin-bottom:auto;
      background-color:#bebfb2;
    }
    .chart22{
      position:absolute;
      font-size: 12px;
      letter-spacing:3px;
      color:white;
      right: 20px;
      top:253px;
    }

    .chart31{
        width:25%;
        height:20px;
        margin-top:auto;
        margin-bottom:auto;
        background-color:#bebfb2;
      }
    .chart32{
        position:absolute;
        font-size: 12px;
        letter-spacing:3px;
        color:white;
        right: 20px;
        top:346px;
      }

    .circle {
      display:inline-block;
      width:20px;
      height:20px;
      border-radius:100%;
      margin-top:10px;
      background-color:#ffc7e3;
      margin-bottom:-15px;
    }
    .circle1{
      display:inline-block;
      width:20px;
      height:20px;
      border-radius:100%;
      margin-top:10px;
      background-color:white;
      margin-bottom:-15px;
    }
  
    .outer{
      display:inline-block;
      border: solid 7px #ffc7e3;
      width:50px;
      height:50px;
      border-radius:100%;
      margin-left: 20px;
      margin-right:20px;
      margin-top:50px; 
    }
    .inside1{
    /*   border: solid 1px black; */
      width:50px;
      height:50px;
      right:-38px;
      top:1px;
      overflow:hidden;
      transform:rotate(45deg);
      position:absolute;
    }
    .inside{
    /*   border: solid 1px black; */
      width:50px;
      height:50px;
      right:-25px;
      top:-25px;
      overflow:hidden;
    }
    .cha{
      display:inline-block;
      font-size:15px;
      letter-spacing:1px;
      color:white;
      margin-top:10px;
      margin-left:10px;
      padding:10px;
    }